---
---

<div class="w-[150px] flex flex-col gap-4 absolute right-[-200px] top-0">
    <div class="relative">
    <div class="sticky">
    <p>Table of contents</p>
    <div>content 1</div>
    <div>content 1</div>
    <div>content 1</div>
</div>
</div>
</div>