---
interface Props {
  title: string;
  link: string;
}
import { Icon } from "astro-icon/components";

const { title, link } = Astro.props;
---

<a
  href={link}
  class="flex gap-2 items-center text-foreground underline hover:text-foreground-muted transition-colors group"
>
  <h2 class="font-semibold text-xl">{title}</h2>
  <Icon
    name="mdi:arrow-top-right"
    size={20}
    class="transform transition-transform duration-300 group-hover:translate-x-1"
  />
</a>
