---
interface Props {
  src: string;
  subtitle?: string;
  reference?: string
}

import "@fontsource/open-sans/400-italic.css";

const { src, subtitle } = Astro.props;
---

<div>
  <img src={src} alt="Description of image" class="headerImage" />
  {subtitle && <p class="imgSubtitle">{subtitle}</p>}
</div>

<style>
  .headerImage {
    width: 100%;
    height: auto;
    borderradius: 8px;
  }
  .imgSubtitle {
    font-size: 14px;
    padding-left: 8px;
    font-style: italic;
  }
</style>
