---
interface Props {
  src: string;
  subtitle?: string;
  reference?: string
}

import "@fontsource/open-sans/400-italic.css";

const { src, subtitle } = Astro.props;
---

<div>
  <img src={src} alt="Description of image" class="w-full rounded-lg" />
  {subtitle && <p class="text-sm italic pt-2">{subtitle}</p>}
</div>
