body {
  color: black;
  padding: 0px;
  margin: 0px;
}

h1,
h2,
h3,
h4,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

:root {
  --font-size-base: 16px;
}

[data-theme="dark"] {
  --primary-color: #0081d7;
  --primary-color-2: #bee5ff;
  --background-color: #000549;
  --text-color: #ffffff;
}

[data-theme="light"] {
  --background-color: #000549;
  --background-color: #f1f1f1;
  --text-color: #000000;
}
