body {
  padding: 0px;
  margin: 0px;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

p,
a,
span {
  line-height: 1.6;
}
h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

:root {
  --font-size-base: 16px;
}

[data-theme="dark"] {
  --primary-color: #6456b4;
  --primary-color-l1: #43397c; /* l1 is darker, since inverted color pallette */
  --primary-color-l2: #1d1a31; /* l1 is darker, since inverted color pallette */
  --background-color: #101523;
  --border-color: #595570;
  --text-color: #eae8f5;
  --shadow-color: rgba(91, 87, 107, 0.5);
  --surface-color: #221f31;
  --link-color: #82c5ff;
}

[data-theme="light"] {
  --primary-color: #5f4ebd;
  --primary-color-l1: #dfc6ff;
  --background-color: white;
  --text-color: #000000;
  --border-color: #000000;
  --shadow-color: rgba(140, 140, 140, 0.5);
  --surface-color: white;
  --link-color: #1460b1;
}
