---
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Christopher Coyne's art">
  <main class="h-[90vh]">
    <a href="https://www.instagram.com/zahir_red/" target="_blank" class="flex items-center justify-center p-8 bg-primary/20 max-w-[400px] m-auto text-2xl rounded-lg animate-fade-in-up">
      <span class="flex gap-6 items-center">Check me out on IG <Icon name="mdi:instagram" size={28}/></span>
    </a>
  </main>
</Layout>
