---
import { Icon } from "astro-icon/components";
import Layout from "../../layouts/Layout.astro";
import ArtGallery from "../../components/art/ArtGallery.tsx";

// List of all artwork in the public/images/art folder
const artworks = [
  { src: "/images/art/Bull.jpg", title: "Bull", alt: "Bull artwork" },
  {
    src: "/images/art/Falling-Through.jpg",
    title: "Falling Through",
    alt: "Falling Through artwork",
  },
  {
    src: "/images/art/Birds-And-Fishes.jpg",
    title: "Birds And Fishes",
    alt: "Birds And Fishes artwork",
  },
  {
    src: "/images/art/Creation.jpg",
    title: "Creation",
    alt: "Creation artwork",
  },
  { src: "/images/art/Palms.jpg", title: "Palms", alt: "Palms artwork" },
  {
    src: "/images/art/Remain-In-Light.jpg",
    title: "Remain In Light",
    alt: "Remain In Light artwork",
  },
  {
    src: "/images/art/Prospero.jpg",
    title: "Prospero",
    alt: "Prospero artwork",
  },
  { src: "/images/art/Memory.jpg", title: "Memory", alt: "Memory artwork" },
  {
    src: "/images/art/The-Angel.jpg",
    title: "The Angel",
    alt: "The Angel artwork",
  },
  {
    src: "/images/art/bull-distort1.png",
    title: "Bull Distort 1",
    alt: "Bull Distort 1 artwork",
  },
  { src: "/images/art/bull-1.png", title: "Bull 1", alt: "Bull 1 artwork" },
  {
    src: "/images/art/bull-mutated.png",
    title: "Bull Mutated",
    alt: "Bull Mutated artwork",
  },
  { src: "/images/art/node-a.png", title: "Node A", alt: "Node A artwork" },
  { src: "/images/art/node-b.png", title: "Node B", alt: "Node B artwork" },
  { src: "/images/art/node-c.png", title: "Node C", alt: "Node C artwork" },
  { src: "/images/art/node-d.png", title: "Node D", alt: "Node D artwork" },
  { src: "/images/art/node-e.png", title: "Node E", alt: "Node E artwork" },
  { src: "/images/art/node-f.png", title: "Node F", alt: "Node F artwork" },
  { src: "/images/art/node-g.png", title: "Node G", alt: "Node G artwork" },
  { src: "/images/art/node-h.png", title: "Node H", alt: "Node H artwork" },
  { src: "/images/art/node-i.png", title: "Node I", alt: "Node I artwork" },
  { src: "/images/art/node-j.png", title: "Node J", alt: "Node J artwork" },
  { src: "/images/art/node-k.png", title: "Node K", alt: "Node K artwork" },
];
---

<Layout title="Christopher Coyne's art">
  <main class="flex flex-col w-[90%] max-w-[700px] m-auto">
    <div class="container mx-auto px-4">
      <div class="mb-8 flex items-center justify-between">
        <h2 class="text-2xl font-bold">Traditional Art</h2>

        <a
          href="https://www.instagram.com/zahir_red/"
          target="_blank"
          class="link link-primary no-underline"
        >
          <span class="flex gap-3 items-center">
            Check me out on IG <Icon name="mdi:instagram" size={24} />
          </span>
        </a>
      </div>

      <ArtGallery artworks={artworks} client:load />
    </div>
  </main>
</Layout>
