---
import Layout from "../layouts/Layout.astro";
import "../styles/GlobalStyles.css";
import "@fontsource/poppins/600.css";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Christopher Coyne</h1>
    <h2>Software Engineer and Creator</h2>
    <section>
      <h3>About Me</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam bibendum
        venenatis sem, non placerat risus. Praesent viverra mauris sed lectus
        ullamcorper tristique. Etiam varius convallis ex, nec molestie tellus.
        Fusce eu velit egestas, pulvinar lectus quis, convallis risus. Praesent
        elementum metus eu felis lacinia pharetra. Vivamus eget arcu vel velit
        fringilla ornare. In tempus turpis ac metus volutpat, id venenatis elit
        volutpat. Cras placerat placerat risus, vel elementum massa tincidunt
        et. Fusce nec aliquam neque. Quisque tincidunt ut turpis eu pulvinar.
        You can check out my resume Here.
      </p>
      <h4>Some Tech I've been using recently</h4>
      <ul>
        <li>Languages: Javascript, Typescript, HTML/CSS, Java</li>
        <li>
          Frameworks and Libraries: React, Spring Boot, Express, Tailwind CSS
        </li>
        <li>
          Platforms and Tools: AWS, Docker, Github Actions, Shopify, Stripe
        </li>
      </ul>
    </section>
    <section>
      <h3>Projects</h3>
    </section>
    <section>
      <h3>Art and Computer Science</h3>
      <p>"I have always imagined that paradise will be a kind of library"</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam bibendum
        venenatis sem, non placerat risus. Praesent viverra mauris sed lectus
        ullamcorper tristique. Etiam varius convallis ex, nec molestie tellus.
        Fusce eu velit egestas, pulvinar lectus quis, convallis risus.
      </p>
    </section>
    <section>
      <h3>Collab</h3>
      <p>Always looking to collaborate and network</p>
    </section>
  </main>
</Layout>
<style>
  main {
    width: 50%;
    margin: auto;
    border: 1px solid black;
  }
  h1,
  h2 {
    font-family: "Poppins";
    font-weight: 600;
    border: 1px solid black;
  }
</style>
