---
import Layout from "../layouts/Layout.astro";
import "../styles/GlobalStyles.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import { Icon } from "astro-icon/components";
import Button from "../components/Button.astro";
---

<Layout title="Christopher Coyne's blog and portfolio">
  <main>
    <section class="header">
      <div>
        <img
          src="/images/mypics/headshot.webp"
          alt="Description of image"
          style={{ width: "250px", height: "250px", borderRadius: "50%" }}
        />
        <h1>Christopher Coyne</h1>
        <p class="headerSubtitle">Software Engineer and Creator</p>
        <ul class="iconList">
          <li>
            <a href="https://github.com/christopher-coyne" target="_blank" rel="noopener noreferrer">
              <Icon name="mdi:github" size={28} />
            </a>
          </li>
          <li>
            <a href="mailto:christcoyne@gmail.com">
              <Icon name="mdi:email" size={28} />
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/christopher-coyne/" target="_blank" rel="noopener noreferrer">
              <Icon name="mdi:linkedin" size={28} />
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section>
      <div>
        <h2>About Me</h2>
        <hr />
      </div>
      <p>Hello All,</p>
      <p>
        I am a software engineer currently working at Pyyne Digital, in NYC. My
        expertise is primarily in full stack development, and I love to design
        and build products from the ground up.
      </p>
      <p>
        I studied English as an undergraduate at Columbia University, where I
        later obtained a masters degree in computer science.
      </p>
      <div>
      <h4>Some Tech I've been using recently</h4>
      <ul class="skills">
        <li>{"> "}Languages: Javascript, Typescript, HTML/CSS, Java</li>
        <li>
          {"> "}Frameworks and Libraries: React, Spring Boot, Express, Tailwind
          CSS
        </li>
        <li>
          {"> "}Platforms and Tools: AWS, Docker, Github Actions, Shopify,
          Stripe
        </li>
      </ul>
    </div>
    </section>
    {
      /* 
    <section>
      <h3>Projects</h3>
    </section>
  */
    }
    <section>
      <div>
        <h2>Art and Computer Science</h2>
        <hr />
      </div>
      <p class="quote">
        "I have always imagined that paradise will be a kind of library"
      </p>
      <p>
        During my education, one of the most influential classes I took was
        “Literature in the Age of AI” taught by professor Dennis Tenen. My eyes
        were opened to the ways that computer science, philosophy, and art could
        intermix and I wanted to contribute in my own way. My final project for
        the class explored the universal language developed by philosopher John
        Wilkins, and sought to recreate it using modern AI tools.
      </p>
      <p>
        I have always been passionate about the visual arts. In the future, I hope to create pieces
        that combine art and computer science into something new.
      </p>
    </section>
    <section>
      <div>
        <h2>Collab</h2>
        <hr />
      </div>
      <div class="contactContainer">
        <p>Always looking to collaborate and network</p>
        <Button title="Contact" icon="xyz" href="mailto:christcoyne@gmail.com" />
      </div>
    </section>
  </main>
</Layout>
<style>
  main {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 64px;
  }
  main section {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  h1 {
    font-family: "Poppins";
    font-weight: 600;
  }
  .quote {
    background-color: var(--primary-color-l1);
    padding: 24px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 0px;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  .headerSubtitle {
    text-align: center;
    margin: 0px;
  }
  .iconList {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    margin: 8px;
  }
  .iconList a {
    color: var(--text-color);
  }
  .contactContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .iconList a:hover {
    cursor: pointer;
    color: var(--link-color)
  }

  img {
    padding: 28px;
  }

  h1 {
    margin: 0px;
    font-size: 28px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    margin-top: 4px;
  }
  hr {
    height: 2px;
    border: none;
    background-color: var(--text-color);
    margin: 4px;
  }
  .skills {
    li {
      margin: 8px;
    }
  }
</style>
