---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<nav>
			<h2>
				Chris Coyne
			</h2>
			<ul>
				<li>About</li>
				<li>Art</li>
				<li>Blog</li>
			</ul>
		</nav>
		<h1>Christopher Coyne</h1>
		<h2>Software Engineer and Creator</h2>
		<section>
			<h3>About Me</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam bibendum venenatis sem, non placerat risus. Praesent viverra mauris sed lectus ullamcorper tristique. Etiam varius convallis ex, nec molestie tellus. Fusce eu velit egestas, pulvinar lectus quis, convallis risus. 

				Praesent elementum metus eu felis lacinia pharetra. Vivamus eget arcu vel velit fringilla ornare. In tempus turpis ac metus volutpat, id venenatis elit volutpat. Cras placerat placerat risus, vel elementum massa tincidunt et. Fusce nec aliquam neque. Quisque tincidunt ut turpis eu pulvinar.
				
				You can check out my resume Here.</p>
			<h4>Some Tech I've been using recently</h4>
			<ul>
				<li>Languages: Javascript, Typescript, HTML/CSS, Java</li>
				<li>Frameworks and Libraries: React, Spring Boot, Express, Tailwind CSS</li>
				<li>Platforms and Tools: AWS, Docker, Github Actions, Shopify, Stripe</li>
			</ul>
		</section>
		<section>
			<h3>Projects</h3>
		</section>
		<section>
			<h3>Art and Computer Science</h3>
			<p>"I have always imagined that paradise will be a kind of library"</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam bibendum venenatis sem, non placerat risus. Praesent viverra mauris sed lectus ullamcorper tristique. Etiam varius convallis ex, nec molestie tellus. Fusce eu velit egestas, pulvinar lectus quis, convallis risus. </p>
		</section>
		<section>
			<h3>Collab</h3>
			<p>Always looking to collaborate and network</p>
		</section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
