---
interface Props {
	title: string;
	body: string;
	href: string;
	tags: string[]
}

import Tag from './Tag.astro'

const { href, title, body, tags } = Astro.props;

console.log('title ', title)
---

<li class="link-card">
	<a href={href}>
		<div class="test">
		<h2>
			{title}
		</h2>
		{tags.map(tag => (<Tag title={tag} />))}
		<p>
			{body}
		</p>
	</div>
	</a>
</li>
<style>
	.link-card {
		border-radius: 8px;
		box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
	}
	.test {
		padding: 24px;
	}
	a {
		text-decoration: none; /* Removes the underline */
		color: inherit; /* Makes the link color inherit from its parent */
		}

</style>
