<div class="flex flex-row w-full py-8 mt-8 text-xs text-base-content border-t border-t-neutral">
    <div class="max-w-[600px] w-[90%] sm:w-full flex justify-between m-auto">
        <div>© 2024 | Christopher Coyne</div>
        <div>
            <ul class="flex gap-4 flex-col sm:flex-row">
                <li>Github</li>
                <li>Email</li>
                <li>LinkedIn</li>
                <li>Instagram</li>
                <li>Resume</li>
            </ul>
        </div>
    </div>
</div>