<div class="flex flex-row w-full py-8 mt-8 text-xs text-gray-400 border-t border-t-gray-800">
    <div class="max-w-[600px] flex justify-between m-auto w-full">
        <div>© 2024 | Christopher Coyne</div>
        <div>
            <ul class="flex gap-4">
                <li>Github</li>
                <li>Email</li>
                <li>LinkedIn</li>
                <li>Instagram</li>
                <li>Resume</li>
            </ul>
        </div>
    </div>
</div>