<div
  class="flex flex-row w-full py-8 mt-8 text-sm text-base-content border-t border-t-neutral"
>
  <div class="max-w-[700px] w-[90%] sm:w-full flex justify-between m-auto">
    <div>© 2024 | Christopher Coyne</div>
    <div>
      <ul class="flex gap-4 flex-col sm:flex-row">
        <li>
          <a
            href="https://github.com/christopher-coyne"
            target="_blank"
            rel="noopener noreferrer">Github</a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/christopher-coyne/"
            target="_blank"
            rel="noopener noreferrer">LinkedIn</a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/zahir_red/"
            target="_blank"
            rel="noopener noreferrer">Instagram</a>
        </li>
      </ul>
    </div>
  </div>
</div>
