---


const { href } = Astro.props;
import '@fontsource/poppins';
import { Icon } from 'astro-icon/components'
---

<nav>
    <div class="titleContainer">
    <h2 class="title">
        Chris Coyne
    </h2>
    <button class="button" id="themeToggle">
        <Icon name="mdi:moon-waning-crescent" />
      </button>
    </div>
    <ul class="linkContainer">
        <li><a href="/">About</a></li>
        <li><a href="/art">Art</a></li>
        <li><a href="/blog">Blog</a></li>
    </ul>
</nav>

<script is:inline>
    let theme = (() => {
      if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
        return localStorage.getItem('theme');
      }
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        return 'dark';
      }
        return 'light';
    })();

    console.log('is darkmode ', theme)
    document.documentElement.setAttribute('data-theme', theme);
  
    const handleToggleClick = () => {
        // Toggle dark mode state
        const newTheme = theme === 'dark' ? 'light' : 'dark'

        console.log('new theme ', newTheme)
        console.log('old theme ', theme)
        
        // Update the theme
        document.documentElement.setAttribute('data-theme', newTheme);
        theme = newTheme
        
        // Save the new theme in localStorage
        window.localStorage.setItem('theme', newTheme);
    }
  
    document.getElementById("themeToggle").addEventListener("click", handleToggleClick);
  </script>

<style>
    nav {
        width: 70%;
        margin: auto;
        padding: 0px 32px;
        borderRadius: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--background-color);
        color: var(--text-color);
        border-radius: 16px;
        font-family: 'Poppins';
    }
    a {
        text-decoration: none;
        color: var(--text-color);
    }
    .linkContainer {
        display: flex;
        flex-direction: row;
    }
    .titleContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }
    #themeToggle {
        height: 50px;
        width: 50px;
    }
</style>