---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<span class="tag">
  {title}
</span>
<style>
  .tag {
    padding: 3px 8px;
    border-radius: 8px;
    background-color: var(--primary-color-l1);
  }
</style>
