---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<span class="tag">
  {title}
</span>
<style>
  .tag {
    font-size: 14px;
    padding: 4px 12px;
    border-radius: 8px;
    background-color: var(--primary-color-l1);
  }
</style>
