---
import type { MarkdownLayoutProps } from 'astro';
type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string;
  author: string;
  date: string;
}>;

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
        <!-- Add other Head elements here, like styles and meta tags. -->
        <title>{frontmatter.title}</title>
      </head>
      <body>
        <!-- Add other UI components here, like common headers and footers. -->
        <h1>{frontmatter.title} by {frontmatter.author}</h1>
        <!-- 2. Rendered HTML will be passed into the default slot. -->
        <slot />
        <p>Written on: {frontmatter.date}</p>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
