---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import { fade } from "astro:transitions";
import Navbar from "../components/Navbar.astro";
import "@fontsource/open-sans";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body transition:animate={fade({ duration: "0.4s" })}>
    {/* <ViewTransitions /> */}
    <Navbar />
    <slot />
  </body>
</html>

<style>
  body {
    font-family: "Open Sans";
    background-color: var(--background-color);
  }
  p {
    line-height: 1.6;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.2;
  }
</style>
